body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center; /* Tengahkan secara horizontal */
    align-items: center; /* Tengahkan secara vertikal */
    height: 100vh;
    margin: 0;
  }

  .container {
    background-color: #fff;
    padding: 30px 40px; /* Ruang dalam (padding) */
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }

  h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
  }

  /* Input dropdown dan textarea */
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }

  textarea {
    height: 120px;
    resize: vertical;
  }

  button {
    width: 100%;
    padding: 12px;
    background-color: #e9100d;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.10s ease;
  }

  button:hover {
    background : linear-gradient(to right, red, brown);
  }